@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

/* abstracts */
@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/placeholders";


/* base */
@import "./base/normalize";

/* components */
@import "./components/buttons";
@import "./components/dropdown";
@import "./components/title";

/* layout */
@import "./layout/navigation";
@import "./layout/header";
@import "./layout/footer";

/* pages */
@import "./pages/home";
@import "./pages/our-pets";

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    padding: 0 40px;
    max-width: 1280px;
    margin: 0 auto;
    @include media-desktop {
        padding: 0 30px;
    }
    @include media-tablet {
        padding: 0 20px;
    }
}

.container__row {
    padding: 80px 0 100px;
    @include media-tablet {
        padding: 42px 0;
    }
}


