.modal-window {
    opacity: 0;
    transition: 0.25s ease-out;
    & .modal-card {
        width: 900px;
        position: fixed;
        @include flex ($jc: center);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -500%);
        background-color: $color-bg-secondary;
        border-radius: 9px;
        z-index: 100;

        &__image-wrapper {
            width: 500px;
        }

        &__image {
            width: 100%;
        }

        & .modal {
            width: 350px;
            padding-left: 30px;
            color: #000;
            &__title {
                margin-bottom: 10px;
                @include title;
            }
            &__subtitle {
                @include title($fsz: 2rem, $lh: auto);
            }
            &__description {
                @include title($fsz: 1.5rem, $lh: 1.1);
                margin: 40px 0;
            }
            &__list {
                margin: 0;
                padding-left: 20px;
                list-style-type: disc;
                border-color: $color-primary;
                &_item {
                    @include title ($fsz: 1.5rem);
                }
            }

        }
        
        .btn-dark {
            position: absolute;
            top: -50px;
            right: -50px;
            width: 52px;
            height: 52px;
            @include flex ($jc: center);
            border: 2px solid $color-primary;
            border-radius: 100px;
        }

    }

}

.modal_active {
    &.modal-window {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(41, 41, 41, 0.6);
        z-index: 10;
        opacity: 1;
        & .modal-card {
            transform: translate(-50%, -50%);
        }
    } 
}