@mixin flex ($jc: space-between, $ai: center, $fdir: row, $fw: wrap) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fdir;
    flex-wrap: $fw;
}

@mixin text ($fw: 400, $fst: normal, $fsz: 1.5rem, $lh: 1.6) {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: $fw;
    font-style: $fst;
    font-size: $fsz;
    line-height: $lh;
}

@mixin title ($fw: 400, $fst: normal, $fsz: 3.5rem, $lh: 1.3, $ls: 0.06em) {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: $fw;
    font-style: $fst;
    font-size: $fsz;
    line-height: $lh;
    letter-spacing: $ls;

    // margin: 0;
    color: $color-h3-h5;
}

@mixin media-desktop {
    @media (max-width: $desktop-width) { @content; }
}
@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}
@mixin media-mobile {
    @media (max-width: $mobile-width) { @content; }
}