$color-primary: #F1CDB3;
$color-h3-h5: #545454;
$color-ligth: #fff;
$color-hover: #FDDCC4;
$color-head-text: #CDCDCD;
$color-pBtn-text: #292929;
$color-bg-primary: #f6f6f6;
$color-bg-secondary: #fafafa;
$color-about-text: #4c4c4c;
$color-card-name: #545454;
$color-descr-text: #b2b2b2;

$desktop-width: 970px;
$tablet-width: 720px;
$mobile-width: 375px;